*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0% !important;
    font-family: 'Kdam Thmor Pro', sans-serif;

}
body{
    background-color: mediumslateblue;
}
.calculator{
    transform: translate();
    width: 500px;

}
.btn{
    /* width:10vw; */
    height: 60px;
    font-size: 1.5rem !important;
    background-color: black ! important;
}
.operator{
    color: orange !important;
}
.screen{
    height: 80px;
    text-align: right;

}
.top-screen{
    width: 40vw;
    height:3vw;
}
.the-buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 20px;
}
